
/* fonts */


$bold-c: 'BarlowCondensed-Bold';
$light-c: 'BarlowCondensed-Light';
$semi: 'BarlowCondensed-SemiBold';
$regular: 'BarlowCondensed-Regular';
$light: 'Barlow-Light';
$bold: 'Barlow-Bold';

$fontcolor:#282829;
$gris:#323a3f;
$celeste:#00a1ff;
$celeste2:#0084ff;
$azul:#063573;
$naranja:#ff5a00;






/* media-queries */
$break-xl: "screen and (max-width: 1200px)";
$break-lg: "screen and (max-width: 991px)";
$break-md: "screen and (max-width: 767px)";
$break-sm: "screen and (max-width: 576px)";
$break-xs: "screen and (max-width: 420px)";
$break-320: "screen and (max-width: 320px)";
$break-lap: "screen and (max-height : 900px)";

body{
	font-size: 16px; font-family:$regular; color:$fontcolor; overflow-x: hidden; background:#fff; 
	&.overhidden{
		overflow: hidden; width: 100%; height: 100%;
	}
}

p, blockquote{
	line-height: 120%; letter-spacing: 0.16px;
	strong{
		font-family:$bold;
	}
}

.cont{
	max-width: 1140px; margin: 0 auto; padding: 0 15px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}


.btn{
	font-family: $light-c; font-size: 12px; letter-spacing: 0.77px; border-radius: 0;
	&.btn-celeste{
		background: $celeste2; color: #fff; line-height: 1em; padding:10px 15px; position: relative;font-size: 20px; letter-spacing: 1px; text-transform: uppercase; 
		&:hover, &:focus{
			background: $celeste;
		}
	}
	&.btn-naranja{
		background: $naranja; color: #fff; line-height: 1em; padding:10px 15px; position: relative;font-size: 20px; letter-spacing: 1px; text-transform: uppercase; 
		&:hover, &:focus{
			background: #df5205;
		}
	}
	&.btn-descarga{
		background: $celeste2; color: #fff; line-height: 1em; padding:10px 15px; position: relative;
		font-size: 16px; letter-spacing: 1px; text-transform: none; 
		&:hover, &:focus{
			background: $celeste;
		}
	}
}
.button-search {
	display: block;
	width: 220px !important;
	height: calc(1.5em + .35rem + 2px);
	padding: .375rem .75rem;
	color: #fff;
	background-color: rgba(232, 232, 232, 0.3);
	border: 0;
	border-radius: 0;
}
.search-icon{
	position: absolute;
	top: 7px;
right: 91px;
}
// ----------------------------------- header / footer
.main-header{
	 width: 100%; top: 0; left: 0; z-index: 500; position: absolute;
	border-top: 5px solid #0c7ec1;
	.main–logo{
		background: #fff;padding-bottom: 14px; position: relative;text-align: center;

		.logo{
			margin-top: 20px;
		}
		&:before{
			background: #fff; position: absolute; top: -20px; width: 100%; height: 30px;
			content: ''; right: 0;
		}
	}
	.block{
		padding: 10px 15px;
		.top{
			display: flex;flex-direction: row; align-items: center;justify-content: flex-end;
			margin-top: 4px;
			.button-search {
				display: block;
				width: 220px !important;
				height: calc(1.5em + .35rem + 2px);
				padding: .375rem .75rem;
				color: #fff;
				background-color: rgba(232, 232, 232, 0.3);
				border: 0;
				border-radius: 0;
			}
			.search-icon{
				position: absolute;
				top: 7px;
				right: 91px;
			}
			.block-btn{
				margin: 0 20px;height: 29px;
			}
			.icons{
				margin: 0 5px;
			}
			
			.mobile-toggler-cont{
				.hamburger-wrap{
					margin-left: 10px; border: 1px solid $celeste; padding: 10px 10px 5px 10px;
					.hamburger{
						outline: none; margin: 0; padding: 0;
						.hamburger-label{
							color: $celeste; font-family: $bold; text-transform: uppercase; position: relative; top: -5px;
						}
					}
					.hamburger-inner {
						background-color: $celeste;
						&:before, &:after{
							background-color: $celeste;
						}
					}
				}
			}
		}
		.main-nav{
			ul{
				list-style-type: none; margin: 0; padding: 	7px 0 0 0; display: flex; justify-content: flex-end;
				li{
					&.drop{
						position: relative;
						.sub{
							&:before{
								display:none;
							}
							position: absolute; top: 15px; left: 10px; z-index: 9999; width: 230px; background: #f5f5f5; margin: 0; display: none; text-align: left; padding: 10px;
    
							li{
								display: block;
								a{
									font-family: $bold; color:$fontcolor; font-size: 11px; letter-spacing: 1.5px; text-transform: uppercase; margin: 15px 10px; border-bottom: 1px solid #dadada; padding-bottom: 10px; color: $fontcolor;
								}
							}
						}
						&:hover{
							.sub{
								display: block;
							}
						}
					}
					a{
						font-family: $regular; text-transform: uppercase; color:#fff; font-size: 15px; letter-spacing: 1.5px;
						text-transform: uppercase; margin: 0 20px; display: block;
						
						&:hover{
							display: block;
						}
					}
				}
			}
		}
		.mobile-nav-cont{
			display: none;
			.minner{
				background: #fff; padding: 0 20px 20px 20px; margin-top: 20px;
				.navi{
					nav{
						border-bottom: 1px solid #eee; border-top: 1px solid #eee; padding: 30px 0 10px 0; margin-bottom: 20px;
						ul{
							list-style-type: none; margin: 0; padding: 0;
							li{
								a{
									font-family: $bold;  font-size: 11px; letter-spacing: 1.4px; text-transform: uppercase; margin: 0 10px;
									display: block;margin: 0px 0 20px 0;color: $fontcolor;
									&:hover, &:focus{
										color: $celeste;
									}
								}
							}
						}
					}
				}
				.info{
					text-align: center;
					
					a{
						margin: 0 10px;
						span{
							display: none;
						}
						&.icons{
							margin-top: -4px;
						}
					}
					.btn-header{
						margin-top: 20px;
					}
					.mobile-toggler-cont{
						display: none;
					}
				}
			}
		}
	}
	@media #{$break-lg}{
		.block{
			.top{
				a{
					span{
						display: none;
					}
				}
			}
			.main-nav{
				display: none;
			}
		}
	}
	@media #{$break-md}{
		.block{
			.top{
				.block-btn{
					display: none;
				}
				.icons{
					display: none;
				}
			}
			.mobile-toggler-cont{
				.hamburger-wrap{
					margin-left: -10px; 
				}
			}
		}
	}
	@media #{$break-sm}{
		.block{
			.top{
				.block-btn{
					display: none;
				}
				.icons{
					display: none;
				}
				.btn-morado{
					display: none;
				}
			}
			.mobile-toggler-cont{
				.hamburger-wrap{
					margin-left: -10px; 
				}
			}.main-header {
				.block {
					.mobile-nav-cont {
						.minner {
							.info{
								.block-btn{
								margin-top:20px ; width: 100%;
								}
							}
						}
					}
				}
			}
		}
	}
}


.main-footer{
	padding: 30px 0; z-index: 500; background: $gris;
	.block{
		border-left: 3px solid #fff;padding: 20px 28px;
		&:first-child{
			border-left: 0;
		}
		.title-footer{
			display: block; font-size: 15px; font-family: $bold; text-transform: uppercase;
			color:$celeste; margin-bottom: 3px;
		}
		ul{
			list-style-type: none; padding: 0; margin: 0;
			li{
				a{
					color:#fff;text-transform: uppercase;font-family: $light;font-size: 14px; 
				}
			}
		}
		p{
			color:#fff;text-transform: uppercase;font-family: $light;font-size: 14px; 
		}
		&.contact{
			p{
				color:$celeste; font-size: 14px; font-family: $light;
				margin-bottom: 0; padding-bottom: 0;text-transform: capitalize;
			}
			a{
				color:#fff;font-size: 14px; display: block; margin-top: -3px;
			}
		}
	}
	@media #{$break-sm}{
		.block{
			border-left: 0;
		}
	}
}

.verde{
	color: #19ae65 !important;
}
.gris-text{
	color: #5b5b5b !important;
	
}
// -------------- inicio

.banner{
	position: relative;z-index: 0;
	.slide{
		width: 100%; height: 75vh; background: center top no-repeat; background-size: cover; position: absolute; background-position: center;
		.caption{
			position: absolute; top: 22%; left: 0; right: 0; width: 100%;text-align: end;
			.logo{
				mix-blend-mode: multiply; margin-top: 70px;
			}
			.logo2{
				 margin-top: 70px;
			}
			h1{
				font-size: 34px; font-family:$bold; letter-spacing: 3px; color: #fff;
				text-transform: uppercase; text-align: end;line-height: 144%;
			}
			span{
				font-size: 23px; font-family:$light; letter-spacing: 2px; color: #fff;
				text-align: end; display: block;
			}
			.btn-naranja{
				font-size: 20px;
				display: inline-block;
			}
		}
	}
	.cycle-pager {
        text-align: center; width: 20px; height: 120px; z-index: 500; position: absolute; top: 50%; left: 40px; margin-top: -60px; 
        > * { cursor: pointer;}
        span {
            font-family: arial; font-size: 30px; width: 16px; height: 16px; display: block; color: #fff; cursor: pointer; margin-bottom: 10px;
            &.cycle-pager-active {
            	color: #fff;
            }
        }
	}
	@media #{$break-sm}{
		.slide{
			&:before{
				background-color: rgba(0, 0, 0, 0.3);
				width: 100%; height: 100%; display: block; position: relative; content: '';

			}
			.caption{
				text-align: left;
				h1{
					 text-align: left; font-size: 22px;
				}
				span{
					text-align: left;
				}
				.btn-celeste{
					float: left;text-align: left;
				}
				figure{
					text-align: left;
				}
			}
		}
		.cycle-pager {
			top: 100%;
			span {
				 display: inline; 
			}
		}
	}
}

.cards-inicio{
	.card{
		background: #f5f5f5; border:0; max-width: 253px;min-height: 400px;margin-top: -70px;
		border-radius: 0;
		figure{
			position: relative;
			img{
				width: 100%; height: auto;
			}
			.line{
				border-bottom: 7px solid $celeste;
			}
			figcaption{
				position: absolute; display: block; bottom: 0; color: #fff; text-transform: uppercase;
				font-size: 19px; font-family: $semi;line-height: 120%; padding: 13px; letter-spacing: 1px;
			}
		}
		p{
			padding: 15px 18px;font-family: $light;line-height: 120%;
		}
	}
	
	@media #{$break-sm}{
		.card{
			margin-top: 70px;max-width: 100%;min-height: auto;
			
		}
	}
}

.sub{
	color: $azul; font-family: $bold-c; font-size: 30px; text-transform: uppercase; letter-spacing: 3px;
	&.blanco{
		color: #fff;
	}
}
.garantia{
	background: $gris; padding: 50px 0 50px 0; position: relative;
	&:before{
		background: $gris; width: 100%; height: 100px; display: block; position: absolute;content: '';
		top: -100px;z-index: -1;
	}
	.sub{
		margin-bottom: 20px;
	}
	.block{
		color: #fff;
		span{
			display: block; font-size: 21px; letter-spacing: 2px; text-transform: uppercase;
			margin-bottom: 10px;font-family: $bold-c;
		}
		p{
			font-family: $light;line-height: 120%;
		}
	}
}

.nosotros{
	padding: 50px 0;
	.sub{
		color: #0c7ec1;
	}
	p{
		font-size: 20px; font-family: $light;
	}
	ul{
		display: flex; align-items: stretch; flex-direction: row; justify-content: flex-end; flex-wrap: wrap; list-style-type: none;
		li{
			padding-bottom: 37px;
			width: 50%;
			display: grid;
			align-content: center;
			align-items: initial;
			img{
				 height: auto;
			}
			&.icon-3{
				width: 33.333%;
			}
		}
	}
	@media #{$break-sm}{
		ul{
			li{
				width: 100%;
				&.icon-3{
					width: 100%;
				}
			}
		}
	}
}

.servicios{
	padding: 70px 0; color: #fff;background-size: cover; background-repeat: no-repeat; width: 100%;
	background-attachment: fixed;
	.sub{
		color: #fff;
	}
	span{
		font-size: 20px; font-family: $bold; text-transform: uppercase;
	}
	p{
		font-size: 20px; font-family: $light;padding-right: 74px
	}
	.text-1{
		padding-right: 140px;
	}
}

.banner-contacto{
	.block{
		top: 25%;
	}
}

.contacto-intro{
	.back{
		background-color: #323a3f;padding: 80px 30px;
		&:before{
			content: ''; display: block; width: 200%; height: 100%; background-color: #323a3f; position: absolute; top: 0; right: 0; z-index: -1;
		}
		h2{
			font-size: 35px; font-family: $bold; color: #fff; letter-spacing: 2px;
		}
		p{
			color: #fff; font-family: $light; font-size: 20px; margin-bottom: 0; margin-top:0;
			strong{
				color: #fff; font-family: $semi; font-size: 20px;letter-spacing: 2px;
				margin-top: 30px; display: block;
			}
		}
		a{
			color: #fff; font-family: $light; font-size: 20px;display: block;
		}
	}
	
}

.forma-block{
	.sub{
		color: #0c7ec1;text-transform: capitalize;
	}
	.form-inline{
		padding: 80px 15px;
		.form-control {
			background-color:#e1e1e1; width: 80%; margin: 10px 0; border:0; border-radius: 0;
		}
		label{
			font-family: $light; font-size: 20px;width: 20%;
		}
	}
	.g-recaptcha, .btn-naranja{
		float: right !important;
	}
}

.banner-productos{
	background-size: cover; background-repeat: no-repeat; width: 100%; height: 70vh;
	.block{
		position: absolute; display: block; content: ''; top: 22%;
		h1{
			font-size: 38px; font-family:$bold; letter-spacing: 3px; color: #fff;
			text-transform: uppercase; text-align: end;line-height: 144%;
		}
		span{
			font-size: 25px; font-family:$light; letter-spacing: 2px; color: #fff;
			text-align: end; display: block;
		}
		.btn-naranja{
			float: right;
		}
	}
	@media #{$break-sm}{
		.block{
			h1{
				font-size: 30px; 
			}
		}
	}
}

.productos{
	padding: 60px 0;
	.search-products{
		text-align: right;
		.button-search {
			display: block;
			width:90% !important;
			height: calc(1.5em + .35rem + 2px);
			padding: .375rem .75rem;
			color:#282829;
			background-color: transparent;
			border: 2px solid #7fbbe0;
			border-radius: 0;
			position: absolute;
			right: 20px;
		}
		.search-icon{
			position: absolute;
			top: 2px;
			right: 24px;
		}
		@media #{$break-sm}{
			.button-search {
				position: relative;
				right: 0;
			}
		}
	}
	h2{
		font-family: $bold; font-size: 25px; text-transform: uppercase;letter-spacing: 2px;
		color: $celeste;
	}
	.menu-productos{
		position: relative;
		.btn-titulo{
			text-transform: uppercase; font-size: 20px; letter-spacing: 2px; color: #3996ce;
			padding-left: 0;border-bottom: 2px solid #979da8;width: 100%;
			text-align: left;
			.drop{
				position: absolute; right: 0; display: block; content: '';margin-top: -15px;
			}
		}
		.list-produ{
			padding: 0; margin: 0 0 20px 0;
			.button{
				font-size: 16px; letter-spacing: 1px; color: $fontcolor;
				border-bottom: 1px solid #e1e4ec;padding: 5px 10px; border-top: 0; display: block; width: 100%; text-align: left;
				background: transparent;border-right: 0;
				border-left: 0; font-family: $light;
				&:hover{
					color: $celeste2;
				}
				&.btn-logo{
					background-color: transparent; border: 0;
				}
			}
			
		}
	}
	.item-producto{
		margin-bottom: 30px;
		.card-p{
			padding: 5px;
			.t-produ{
				font-family: $bold; font-size: 16px;display: block;
				padding-bottom: 10px;
			}
			p{
				font-family: $regular;font-size: 16px;
			}
			figure{
				img{
					border-top:3px solid #155fbc;
				}
			}
			
		
		}
	}
}
.btn-logo{
	background-color: transparent; border: 0;padding: 20px 10px; width: 100%;
}