
@font-face {
  font-family: 'Barlow-Bold';
  src: url('../fonts/Barlow-Bold.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/Barlow-Bold.otf')  format('opentype'),
       url('../fonts/Barlow-Bold.woff') format('woff'), 
       url('../fonts/Barlow-Bold.ttf')  format('truetype'), 
       url('../fonts/Barlow-Bold.svg#Barlow-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'BarlowCondensed-Regular';
  src: url('../fonts/BarlowCondensed-Regular.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/BarlowCondensed-Regular.otf')  format('opentype'),
       url('../fonts/BarlowCondensed-Regular.woff') format('woff'), 
       url('../fonts/BarlowCondensed-Regular.ttf')  format('truetype'), 
       url('../fonts/BarlowCondensed-Regular.svg#BarlowCondensed-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BarlowCondensed-SemiBold';
  src: url('../fonts/BarlowCondensed-SemiBold.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/BarlowCondensed-SemiBold.otf')  format('opentype'),
       url('../fonts/BarlowCondensed-SemiBold.woff') format('woff'), 
       url('../fonts/BarlowCondensed-SemiBold.ttf')  format('truetype'), 
       url('../fonts/BarlowCondensed-SemiBold.svg#BarlowCondensed-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'BarlowCondensed-Light';
  src: url('../fonts/BarlowCondensed-Light.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/BarlowCondensed-Light.otf')  format('opentype'),
       url('../fonts/BarlowCondensed-Light.woff') format('woff'), 
       url('../fonts/BarlowCondensed-Light.ttf')  format('truetype'), 
       url('../fonts/BarlowCondensed-Light.svg#BarlowCondensed-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BarlowCondensed-Bold';
  src: url('../fonts/BarlowCondensed-Bold.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/BarlowCondensed-Bold.otf')  format('opentype'),
       url('../fonts/BarlowCondensed-Bold.woff') format('woff'), 
       url('../fonts/BarlowCondensed-Bold.ttf')  format('truetype'), 
       url('../fonts/BarlowCondensed-Bold.svg#BarlowCondensed-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow-Light';
  src: url('../fonts/Barlow-Light.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/Barlow-Light.otf')  format('opentype'),
       url('../fonts/Barlow-Light.woff') format('woff'), 
       url('../fonts/Barlow-Light.ttf')  format('truetype'), 
       url('../fonts/Barlow-Light.svg#Barlow-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
